<!DOCTYPE html>
<html lang="es">

<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div *ngIf="!timeLapse" class="d-flex justify-content-center align-items-center vh-100">
    <span class="loader">
    </span>
  </div>
  <div class="container-full" *ngIf="timeLapse">
    <div class="content-container">
      <div class="image-container"(click)="login()">
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center vh-100">
        <div class="row justify-content-md-center">
          <div class="card-fondito">
            <div class="card-header">
              <h3> ¡Bienvenido!</h3>
              <form class="form" role="form" (ngSubmit)="login()">
                <div class="form-group">
                  <i class="bi bi-envelope">
                    <div class="opacity-25">
                      <label for="username" class="control-label estiloLabel_2"></label>
                      <input type="text" class="inputuser form-control estiloEditTex" name="username" id="username"
                        placeholder="Nombre de usuario">
                    </div>
                  </i>
                </div>
                <div>
                  <label for="password" class="control-label estiloLabel_3"></label>
                  <input type="password" class="inputuser form-control estiloEditTex" name="password" id="password"
                    placeholder="Contraseña">
                </div>
                <div class="btn-send">
                  <button type="submit" id="btn-enviar" class="btn btn-lg btn-outline-light">Ingresar</button>
                </div>
              </form>
              <p></p>
              <div class="pw" style="text-align:center;">
                <a class="alert-link" (click)="requestResetPassword()">¿Olvidó su contraseña?</a>
              </div>
            </div>
            <div class="custom-alert" *ngIf="success">
              Registro completo. Ingrese al sistema.
            </div>
            <div class="custom-alert" *ngIf="passwordResetSucces">
              Se restableció la contraseña. Ingrese al sistema.
            </div>
            <div class="custom-alert" *ngIf="authenticationError">
              Error en ingreso. Verifique sus datos e intente de nuevo.
            </div>
            <div class="custom-alert" *ngIf="fehcaError">
              Error en ingreso. Verifique con el administrador.
            </div>
            <div class="custom-alert" *ngIf="userUnlock">
              <a>Tiene una sesión activa en otro dispositivo. </a>
              <a class="underline" (click)="cerrarSesiones()">Cerrar sesión</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="half-width-container"></div>
    <div class="fixed-bottom footer-text">
      Sistema de gestión Municipal Gismun; PEMC 2023 &#64;GISnet
    </div>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
